/* Coolors Exported Palette - coolors.co/e9d758-297373-ff8552-e6e6e6-39393a */

/* HSL */
$color1: hsla(53%, 77%, 63%, 1);
$color2: hsla(180%, 47%, 31%, 1);
$color3: hsla(18%, 100%, 66%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(240%, 1%, 23%, 1);

/* RGB */
$color1: rgba(233, 215, 88, 1);
$color2: rgba(41, 115, 115, 1);
$color3: rgba(255, 133, 82, 1);
$color4: rgba(230, 230, 230, 1);
$color5: rgba(57, 57, 58, 1);

// yellowish
// green
// orange
//grey
// black
// 
