/* Coolors Exported Palette - coolors.co/a2faa3-92c9b1-4f759b-5d5179-571f4e */

/* HSL */
$color1: hsla(121%, 90%, 81%, 1);
$color2: hsla(154%, 34%, 68%, 1);
$color3: hsla(210%, 32%, 46%, 1);
$color4: hsla(258%, 20%, 40%, 1);
$color5: hsla(310%, 47%, 23%, 1);

/* RGB */
$color1: rgba(162, 250, 163, 1);  // mint green
$color2: rgba(146, 201, 177, 1);  // darker green
$color3: rgba(79, 117, 155, 1);   // blue
$color4: rgba(93, 81, 121, 1);   // light purp
$color5: rgba(87, 31, 78, 1);   // dark purp
