<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <p>This is the page after you liked a post.</p>
    <p>The users that have liked this post</p>
    {{#user}}
    <ul>
      <li>{{username}}</li>
    </ul>
    {{/user}}
  </body>
</html>
