<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/master.css">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
</head>

<body>
  <div class="top-bar">
    <div class="links-wrapper">
      <div class="links">
        <a href="/">Home</a>
      </div>
      <div class="links">
        <a href="/newPost">Create New Post</a>
      </div>
      <div class="links">
        {{#user}}
          <a href="/{{posts.id}}/profilepage">Logged in as {{user}}</a>
        {{/user}}
        {{^user}}
        <a href="/login">Log in</a>
        {{/user}}
      </div>
      <div class="links">
        <a href="/logout">Log Out</a>
      </div>
    </div>
    <div class="title">
      <h2>Gabble</h2>
    </div>
  </div>

  <div class="body_wrapper">
    <h1>Welcome to your profile page, <span class="cap_username">{{user}}</span> </h1>
    {{#posts}}
      <div class="post_wrapper">
        <div class="top_line">
          <span class="post_title">{{title}}</span>
        </div>
        <div class="username">
          <span class="author">By:   {{username.username}}</span>
        </div>
        <div class="message">
          <span>{{body}}</span>
        </div>
        <div class="bot_line">
          <span class="publish_date">Published:</span> <span class="publishDateLong">{{createdAt}}</span>
          <form class="delForm" action="/{{id}}/deletePost" method="post">
            <button type="submit" name="delButt" value='{{id}}'>Delete</button>
          </form>
        </div>
      </div>
    {{/posts}}
  </div>


  <script src="/js/client.js" charset="utf-8"></script>

</body>

</html>
