<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="top-bar">
      <div class="links-wrapper">
        <div class="links">
          <a href="/">Home</a>
        </div>
        <div class="links">
          <a href="/newPost">Create New Post</a>
        </div>
        <div class="links">
          {{#user}}
          <a href="/fixme/profilepage">Logged in as {{user}}</a>
          {{/user}}
          {{^user}}
          <a href="/login">Log in</a>
          {{/user}}
        </div>
        <div class="links">
          <a href="logout">Log Out</a>
        </div>
      </div>
      <div class="title">
        <h2>Gabble</h2>
      </div>
    </div>
    <div class="body_wrapper">
      <div class="signUp_wrapper">
      <h2>Sign Up!</h2>
      {{#errors}}
      <ul>
        <li>{{msg}}</li>
      </ul>
      {{/errors}}

        <form class="" action="/registerToDB" method="post">
          <div class="username_entry">
            <p>Chose a Username:</p>
            <input type="text" class="signUp_fields" name="username" value="{{username}}" placeholder="Username" autofocus>
          </div>
          <div class="password_entry">
            <p>Password:</p>
            <input type="password" class="signUp_fields" name="password" value="" placeholder="Password">
          </div>
          <div class="password_entry">
            <p>Re-Enter Your Password:</p>
            <input type="password" class="signUp_fields" name="passwordTwo" value="" placeholder="Confirm Password">
          </div>

            <button type="submit" class="login_button" name="button">Sign Up!</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
